<div class="col-md-4 text-center" id="post_<%=post.id%>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= post.tittle %></h3>
      <td><%= post.content %></td>
    </div>
    
    <div class="panel-body">
      <%= time_ago_in_words(post.created_at) %> 
      <br>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-warming" data-toggle="modal" data-target="#myUpdatePost_<%= post.id %>">
          Edit
        </button>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", remote: true %>
      </div>
    </div>
  </div>  

  <!-- Modal - update posts-->
  <%= render 'edit_form', post: post %>  
</div>

