<div class="container">
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myNewPost">
        New Post
      </button>
    </div>
    <%= form_tag posts_path, :method => 'get' do %> 
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Search"%>
    <% end %>     
  </div>

  <br>
  <br>

  <div class="row" id="container_posts">
    <%= render @posts %>    
  </div>

  <!-- Modal -->
  <%= render 'new_form' %>  
</div>